body {
    font-family:Roboto;
    background-color:#24d439;
    color: black;

}

/* Introduction */

h1{
    font-family:"Grechen Fuemen&family";
    text-align:center;
    font-size:40pt;
    border: 12px solid #000000;
    margin-bottom:2rem;
    color:white
}

/* img */

#gallery img{
    max-width:100%;
}

#gallery figure {
    text-align: center;
}



/* Introduction Paragraph */
#Intro {
    border: 12px solid #000000;
    margin-bottom:2rem;
    color:white;
    font-family: cursive;
    font-size: 20px;

}

#Intro div {
    padding:3rem;
    max-width:30;
    margin:0 auto;
}

/* My biggest Projects */

h2{
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    font-size:32pt;
    
    color: Black;
}

h3, h4, h5 {
    font-family:monospace;
    text-align:left;
    font-size:20pt;
    color:black;
}

/* My Biggest Project Paragraphs */
#MBP {
    border: 12px solid #000000;
    margin-bottom:2rem;
    color:white;
    font-family: cursive;
    font-size: 20px;

}

/* My Biggest Project Paragraphs */
#Comments {
    border: 12px solid #000000;
    margin-bottom:2rem;
    color:white;
    font-family: cursive;
    font-size: 20px;

}




